<!DOCTYPE html>

<html>

<head>
    <title>Tietoja</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Tämä websovellus on tehty harjoitusprojektina v. 2019.<br>
            Toteutuksessa on käytetty node.js sekä express.js kirjastoja,
            jolla voidaan ohjelmoida palvelinpäätä javascriptillä.</p>
        <br>
        Apuna on käytetty mapboxin ja darkskyn julkisia API rajapintoja, jotka tarjoavat<br>
        paikkatietoa ja säädataa json muodossa palveluun kirjautuneille käyttäjille.
        <br>
        <p>Sovelluksen lähdekoodi on nähtävissä: https://github.com/Point-SimoSiren/weather-search-express.js</p>

    </div>


    {{>footer}}
</body>

</html>